.changePP {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background-color: var(--black-color-opacity-60);
}

.changePP-main {
	background-color: var(--white-color);
	display: flex;
	flex-direction: column;
	height: 50vh;
	width: 64vh;
	padding: 4vh;
	row-gap: 4vh;
	border-radius: 1.8vh;
	box-shadow: 0px 0px 20px rgba(0, 136, 154, 0.10);
}

.changePP-main-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 16%;
	width: 100%;
}

.changePP-main-header-core {
	display: flex;
	justify-content: start;
	align-items: center;
	column-gap: 2vh;
}

.changePP-main-header-core-svg {
	background-color: var(--white-color);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2vh;
	border-radius: 500px;
	border: 2px solid var(--primary-color-opacity-15);
	box-shadow: 0px 0px 20px rgba(0, 136, 154, 0.10);
}

.changePP-main-header-core-text {
	display: flex;
	flex-direction: column;
	row-gap: 1vh;
}

.changePP-main-header-core-text-semibold {
	font-weight: var(--font-weight-semibold);
	font-size: var(--font-size-16);
	color: var(--black-color);
}

.changePP-main-header-core-text-light {
	font-weight: var(--font-weight-light);
	font-size: var(--font-size-12);
	color: var(--black-color-opacity-60);
}

.changePP-main-header-line {
	background-color: var(--primary-color-opacity-15);
	height: 0.4vh;
	width: 100%;
	border-radius: 500px;
}

.changePP-main-fields {
	display: flex;
	flex-direction: column;
	row-gap: 1.2vh;
	width: 100%;
}

.changePP-main-fields label {
	font-size: var(--font-size-12);
	font-weight: var(--font-weight-semibold);
	color: var(--black-color);
}

.changePP-main-fields input {
	padding: 1.2vh;
	border-radius: 0.8vh;
	border: 1px solid var(--black-color-opacity-15);
	background-color: var(--white-color);
	font-size: var(--font-size-12);
	color: var(--black-color);
	outline: none;
	box-shadow: 0px 0px 8px rgba(0, 136, 154, 0.05);
}

.changePP-main-buttons {
	display: flex;
	justify-content: center;
	align-items: end;
	flex-grow: 1;
	column-gap: 4%;
}

.changePP-main-buttons-cancel {
	all: unset;
	width: 48%;
	background-color: var(--white-color);
	font-weight: var(--font-weight-semibold);
	font-size: var(--font-size-12);
	color: var(--black-color);
	border: 2px solid var(--primary-color-opacity-15);
	text-align: center;
	padding: 1vh;
	cursor: pointer;
}

.changePP-main-buttons-confirm {
	all: unset;
	width: 48%;
	background-color: var(--primary-color);
	font-weight: var(--font-weight-semibold);
	font-size: var(--font-size-12);
	color: var(--white-color);
	text-align: center;
	padding: 1vh;
	cursor: pointer;
}
