.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--secondary-color);
  padding: 60px 20px;
  box-sizing: border-box;
}

.registration-header {
  text-align: center;
  margin-bottom: 40px;
  
}

.registration-header-heading {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-40);
  color: var(--black-color);
}

.registration-header-sub {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-16);
  color: var(--black-color-opacity-45);
  margin-top: 10px;
}

.registration-container {
  width: 100%;
  max-width: 1900px;
  background-color: white;
  border-radius: 20px;
  padding: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.registration-container-header {
  text-align: left;
  margin-bottom: 40px;
}

.registration-container-header-heading {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-32);
  color: var(--black-color);
}

.registration-container-header-sub {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-16);
  color: var(--black-color-opacity-45);
  margin-top: 8px;
}

.registration-container-column-form {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.registration-container-column-form-address,
.registration-container-column-form-personal {
  flex: 1 1 48%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.registration-container-column-form-address-header,
.registration-container-column-form-personal-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  
}

.registration-container-column-form-address-header-text{
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-16);
  color: var(--black-color-opacity-45);
  
}

.registration-container-column-form-address-header img{
	width: 24px;
	height: 24px;
	
}

.registration-container-column-form-personal-header img{
	width: 24px;
	height: 24px;
	
}

.registration-container-column-form-personal-header-text{
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-16);
  color: var(--black-color-opacity-45);
}

/* Address content layout */
.registration-container-column-form-address-content {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.registration-container-column-form-address-content-left,
.registration-container-column-form-address-content-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*Personal Section*/
.registration-container-column-form-personal-content {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.registration-container-column-form-personal-content-left,
.registration-container-column-form-personal-content-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-14);
  color: var(--black-color);
}

.form-group label {
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  
}

#position {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color-opacity-15);
  border-radius: 8px;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-light);
  color: var(--black-color-opacity-45);
  color: #333; 
  outline: none;
  box-sizing: border-box;
}

#position::placeholder {
  color: #7a7a7a; 
  opacity: 1;
}

#birthday {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color-opacity-15);
  border-radius: 8px;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-light);
  color: var(--black-color-opacity-45);
  color: #333; 
  outline: none;
  box-sizing: border-box;
}

#building_number {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color-opacity-15);
  border-radius: 8px;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-light);
  color: var(--black-color-opacity-45);
  color: #333; 
  outline: none;
  box-sizing: border-box;
}

#street {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color-opacity-15);
  border-radius: 8px;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-light);
  color: var(--black-color-opacity-45);
  color: #333; 
  outline: none;
  box-sizing: border-box;
}

#zip_code {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color-opacity-15);
  border-radius: 8px;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-light);
  color: var(--black-color-opacity-45);
  color: #333; 
  outline: none;
  box-sizing: border-box;
}
.registration-container-column-form label {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-16);
  color: var(--black-color);
  margin-bottom: 6px;
  
}

.registration-container-column-form input,
.registration-container-column-form select {
  width: 100%;
  height: 44px;
  padding: 12px 20px;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color-opacity-15);
  border-radius: 8px;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-light);
  color: var(--black-color-opacity-45);
  appearance: none;
  box-sizing: border-box;
}


.registration-container-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}

.registration-container-submit button {
  padding: 12px 32px;
  width: 480px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 100px;
  cursor: pointer;
  border: none;
  color: var(--white-color);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-16);
}