@media (max-width: 768px) {	
.uploadNotificationUser-cards-card {  
	/* background-color: mediumseagreen;  */
	
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--white-color);
	height: 12vh;
	width: 100%;
	border-radius: 12px;
	/* !!! CHANGE ALL FROM 20PX TO 12PX */
	box-shadow: 0px 0px 20px rgba(0, 136, 154, 0.10); 
}

	.uploadNotificationUser-cards-card-indicator {  
		/* background-color: seagreen;  */
		height: 100%;
		width: 3%;
		/* !!! CHANGE ALL FROM 1.8% TO 1.4% */
		background-color: var(--yellow-indicator-opacity-60);
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		/* !!! CHANGE ALL FROM 20PX TO 12PX */
	}

	.uploadNotificationUser-cards-card-info {  
		/* background-color: palegreen;  */
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		height: 100%;
		width: 97%; 
		padding-left: 2vh;
		column-gap: 2vh;
	}

		.uploadNotificationUser-cards-card-info-details {  
			/* background-color: darkolivegreen;  */
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;
			height: 100%;
			row-gap: 0.8vh;
		}

			.uploadNotificationUser-cards-card-info-details-main {  
				/* background-color: olive;  */
				display: flex;
				flex-direction: row;
				justify-content: start;
				align-items: center;
				column-gap: 1vh;
				
			}

				.uploadNotificationUser-cards-card-info-details-main-name {  
					/* background-color: yellowgreen;  */
					font-weight: var(--font-weight-medium);
					font-size: var(--font-size-16);
					color: var(--black-color-opacity-60);
				}

				.uploadNotificationUser-cards-card-info-details-main-time {  
					/* background-color: greenyellow;  */
					font-weight: var(--font-weight-light);
					font-size: var(--font-size-8);
					color: var(--black-color-opacity-60);
				}

				.uploadNotificationUser-cards-card-info-details-main-role {  
					/* background-color: lawngreen;  */
					font-weight: var(--font-weight-light);
					font-size: var(--font-size-8);
					color: var(--black-color-opacity-60);
				}

			.uploadNotificationUser-cards-card-info-details-sub {  
				/* background-color: chartreuse;  */
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: start;
				column-gap: 1vh;
			}

				.uploadNotificationUser-cards-card-info-details-sub-detail {  
					/* background-color: lightgreen;  */
					font-weight: var(--font-weight-light);
					font-size: var(--font-size-16);
					color: var(--black-color);
				}

				.uploadNotificationUser-cards-card-info-details-sub-name {  
					/* background-color: mediumaquamarine; */
					font-weight: var(--font-weight-medium);
					font-size: var(--font-size-16);
					color: var(--black-color); 
				}

			.uploadNotificationUser-cards-card-info-details-box {  
				/* background-color: darkred;  */
				display: flex;
				flex-direction: row;
				column-gap: 1vh;
				width: 100%;
			}

				.uploadNotificationUser-cards-card-info-details-box-date {  
					/* background-color: crimson;  */
					display: flex;
					flex-direction: row;
					justify-content: start;
					align-items: center;
					width: 60%;
					column-gap: 1vh;
					padding: 1vh;
					background-color: var(--secondary-color-opacity-60);
					border-radius: 8px;
					border: 2px solid var(--primary-color-opacity-15);
				}

					.uploadNotificationUser-cards-card-info-details-box-date-day {  
						/* background-color: firebrick;  */
						display: flex;
						flex-direction: column;
					}

						.uploadNotificationUser-cards-card-info-details-box-date-day-day {  
							/* background-color: indianred;  */
							font-weight: var(--font-weight-light);
							font-size: var(--font-size-8);
							color: var(--black-color-opacity-60);
						}

						.uploadNotificationUser-cards-card-info-details-box-date-day-date {  
							/* background-color: lightcoral;  */
							font-weight: var(--font-weight-medium);
							font-size: var(--font-size-12);
							color: var(--black-color);
						}

				/* .uploadNotificationUser-cards-card-info-details-box-start {  

					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					column-gap: 1vh;
					padding: 1vh;
					background-color: var(--secondary-color-opacity-60);
					border-radius: 8px;
					border: 2px solid var(--primary-color-opacity-15);
				}

					.uploadNotificationUser-cards-card-info-details-box-start-time {  
						
						display: flex;
						flex-direction: column;
					}

						.uploadNotificationUser-cards-card-info-details-box-start-time-text {  
							font-weight: var(--font-weight-light);
							font-size: var(--font-size-8);
							color: var(--black-color-opacity-60);
						}

						.uploadNotificationUser-cards-card-info-details-box-start-time-date {  
							font-weight: var(--font-weight-medium);
							font-size: var(--font-size-12);
							color: var(--black-color);
						}

				.uploadNotificationUser-cards-card-info-details-box-end {  
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					column-gap: 1vh;
					padding: 1vh;
					background-color: var(--secondary-color-opacity-60);
					border-radius: 8px;
					border: 2px solid var(--primary-color-opacity-15);
				}

					.uploadNotificationUser-cards-card-info-details-box-end-time {  
						display: flex;
						flex-direction: column;
					}

						.uploadNotificationUser-cards-card-info-details-box-end-time-text {  
							font-weight: var(--font-weight-light);
							font-size: var(--font-size-8);
							color: var(--black-color-opacity-60);
						}

						.uploadNotificationUser-cards-card-info-details-box-end-time-date {  
							font-weight: var(--font-weight-medium);
							font-size: var(--font-size-12);
							color: var(--black-color);
						} */



/* 
      .uploadNotificationUser-cards-card-role {  
				display: flex;
        justify-content: start;
        align-items: center;
				height: 100%;
				width: 26%;  
      }

        .uploadNotificationUser-cards-card-role-title {  
          background-color: var(--white-color);
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background-color: var(--secondary-color-opacity-60);
          column-gap: 0.6vw;
          padding: 1vh 1vw;
          border-radius: 8px;
          border: 2px solid var(--primary-color-opacity-15);
        }

          .uploadNotificationUser-cards-card-role-title p {  
            font-weight: var(--font-weight-medium);
            font-size: var(--font-size-16);
            color: var(--black-color); 
          }

      .uploadNotificationUser-cards-card-button {  
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				width: 8%; 
      }

      .uploadNotificationUser-cards-card-button button {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        min-height: 60px;
        min-width: 60px;
        border-radius: 500px;
      } 

*/	  
}		 