* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.schedule {
	max-height: 100vh;
	max-width: 100vw;
}

.schedule-box {
	height: 100%;
	width: 100%;
	padding-top: 72px;
	padding-left: 72px;
}

.schedule-box-in {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-color);
	padding: 40px;
	row-gap: 6vh;
}

/* Header */
.schedule-header {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	width: 100%;
	column-gap: 1vw;
}

.schedule-header p {
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-28);
	color: var(--black-color);
}

/* Tabs */
.schedule-tabs {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	width: 100%;
	column-gap: 1vw;
}

.schedule-tabs-all,
.schedule-tabs-today,
.schedule-tabs-upcoming,
.schedule-tabs-pending,
.schedule-tabs-completed {
	all: unset;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	background-color: var(--white-color);
	color: var(--primary-color);
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-16);
	border: 2px solid var(--primary-color-opacity-15);
	border-radius: 500px;
	column-gap: 0.6vw;
	padding: 1vh 1.2vw;
	cursor: pointer;
}

.schedule-tabs-all {
	background-color: var(--white-color);
	color: #00899A;
}

.schedule-tab-active {
	background-color: #00899A !important;
	color: white !important;
	border-color: #00899A !important;
}

/* Section Headers */
.schedule-header-today,
.schedule-header-completed {
	flex-direction: row;
	justify-content: start;
	align-items: center;
	width: 100%;
	color: var(--black-color);
	font-weight: var(--font-weight-semibold);
	font-size: var(--font-size-16);
	margin-top: 1vh;
	margin-bottom: 1vh;
}

/* Cards */
.schedule-today,
.schedule-completed {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	row-gap: 1vh;
}

.schedule-today-cards,
.schedule-completed-cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	row-gap: 2.4vh;
}

.schedule-today-cards-card-indicator {
	width: 1.5rem; 
	height: 20vh; 
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	flex-shrink: 0;
}

.schedule-today-cards-card-indicator.gray {
	background-color: gray;
}

.schedule-today-cards-card-indicator.green {
	background-color: green;
}

.schedule-upcoming-wrapper {
	width: 100%;
}

.schedule-completed {
	border-top: 1px solid #d0d0d0;
	padding-top: 2vh;
	margin-top: 2vh;
}

.schedule-tab-active {
  background-color: var(--primary-color) !important;
  color: var(--white-color) !important;
  border-color: var(--primary-color) !important;
}

.schedule-tab-active svg {
  color: var(--white-color) !important;
}