* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* .registration-1 {

} */
.registration-box {
  /* background-color: firebrick; */
  background-color: var(--secondary-color);
	max-height: 100vh;
  max-width: 100vw;
}
.registration-box-in {
  /* background-color: brown; */
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  max-width: 100vw;
  padding: 2vh;
}
  .registration-box-in-header {
    /* background-color: indianred; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 16vh;
    width: 100%;
    padding: 4vh;
  }
    .registration-box-in-header-bold {
      /* background-color: lightcoral; */
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-20);
      color: var(--black-color);
    }
    .registration-box-in-header-medium {
      /* background-color: salmon; */
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-12);
      color: var(--black-color-opacity-60);
    }

  .registration-box-in-core {
    /* background-color: darkslategray; */
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4vh;
    height: 76vh;
    width: 100%;
    /* flex-grow: 1; */
    padding: 6vh 8vh;
    border-radius: 1rem;
    box-shadow: 0 0 40px rgba(0, 136, 154, 0.1);
  }
    .registration-box-in-core-header {
      /* background-color: teal; */
      display: flex;
      flex-direction: column;
      row-gap: 1vh;
      width: 100%;
    }
      .registration-box-in-core-header-regular {
        /* background-color: mediumturquoise; */
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-12);
        color: var(--black-color-opacity-60);
      }
      .registration-box-in-core-header-medium {
        /* background-color: paleturquoise; */
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-20);
        color: var(--black-color);
      }

    .registration-box-in-core-main {
      /* background-color: darkgreen; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 2vh;
      width: 100%;
      height: 100%;
    }
      .registration-box-in-core-main-form {
        /* background-color: seagreen; */
        display: flex;
        justify-content: center;
        column-gap: 12vh;
        width: 100%;
        height: 100%;
      }

        .error-message {
          /* background-color: lightpink; */
        }

        .registration-box-in-core-main-form-address {
          /* background-color: darkolivegreen; */
          display: flex;
          flex-direction: column;
          /* justify-content: center;
          align-items: center; */
          row-gap: 2vh;
          width: 50%;
          height: 100%;
        }
          .registration-box-in-core-main-form-address-header {
            /* background-color: olive; */
            display: flex;
            align-items: center;
            column-gap: 1vh;
            width: 100%;
            font-weight: var(--font-weight-medium);
            font-size: var(--font-size-12);
            color: var(--black-color-opacity-60);
          }

          .registration-box-in-core-main-form-address-details {
            /* background-color: darkkhaki; */
            display: flex;
            column-gap: 2vh;
            width: 100%;
          }
              .registration-box-in-core-main-form-address-details-left-alike label,
              .registration-box-in-core-main-form-address-details-right-alike label {
                color: var(--black-color);
                font-size: var(--font-size-12);
                font-weight: var(--font-weight-medium);
              }
              .registration-box-in-core-main-form-address-details-left-alike select,
              .registration-box-in-core-main-form-address-details-right-alike select {
                width: 100%;
                max-width: 100%;
                padding: 0.6rem 1rem;
                border-radius: 0.3rem;
                border: 2px solid var(--primary-color-opacity-30);
                background-color: var(--white-color) !important;
                color: var(--black-color-opacity-60);
                font-size: var(--font-size-12);
                font-weight: var(--font-weight-medium);

                cursor: pointer;
                appearance: none !important;
                -webkit-appearance: none !important;
                -moz-appearance: none !important;

                background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
                background-repeat: no-repeat;
                background-position: right 0.7rem center;
                background-size: 1rem;
                box-sizing: border-box;
              }
              .registration-box-in-core-main-form-address-details-left-alike input,
              .registration-box-in-core-main-form-address-details-right-alike input {
                width: 100%;
                padding: 0.6rem 1rem;
                border-radius: 0.3rem;
                border: 2px solid var(--primary-color-opacity-30);
                background-color: var(--white-color);
                color: var(--black-color);
                font-size: var(--font-size-12);
                font-weight: var(--font-weight-medium);
                cursor: text;
                box-sizing: border-box;
              }

            .registration-box-in-core-main-form-address-details-left {
              /* background-color: goldenrod; */
              display: flex;
              flex-direction: column;
              row-gap: 3.2vh;
              width: 50%;
            }
              .registration-box-in-core-main-form-address-details-left-alike {
                /* background-color: khaki; */
                display: flex;
                flex-direction: column;
                row-gap: 1.6vh;
              }
            .registration-box-in-core-main-form-address-details-right {
              /* background-color: peru; */
              display: flex;
              flex-direction: column;
              row-gap: 3.2vh;
              width: 50%;
            }
              .registration-box-in-core-main-form-address-details-right-alike {
                /* background-color: wheat; */
                display: flex;
                flex-direction: column;
                row-gap: 1.6vh;
              }
              .registration-box-in-core-main-form-address-details-right-split {
                display: flex;
                column-gap: 2vh;
              }
                .registration-box-in-core-main-form-address-details-right-split-alike {
                  display: flex;
                  flex-direction: column;
                  row-gap: 1.6vh;
                }
                  .registration-box-in-core-main-form-address-details-right-split-alike label {
                    color: var(--black-color);
                    font-size: var(--font-size-12);
                    font-weight: var(--font-weight-medium);
                  }
                  .registration-box-in-core-main-form-address-details-right-split-alike input {
                    width: 100%;
                    padding: 0.6rem 1rem;
                    border-radius: 0.3rem;
                    border: 2px solid var(--primary-color-opacity-30);
                    background-color: var(--white-color);
                    color: var(--black-color);
                    font-size: var(--font-size-12);
                    font-weight: var(--font-weight-medium);
                    cursor: text;
                    box-sizing: border-box;
                  }


                                

        .registration-box-in-core-main-form-personal {
          /* background-color: darkblue; */
          display: flex;
          flex-direction: column;
          /* justify-content: center;
          align-items: center; */
          row-gap: 2vh;
          width: 50%;
          height: 100%;
        }
          .registration-box-in-core-main-form-personal-header {
            /* background-color: steelblue; */
            display: flex;
            align-items: center;
            column-gap: 1vh;
            width: 100%;
            font-weight: var(--font-weight-medium);
            font-size: var(--font-size-12);
            color: var(--black-color-opacity-60);
          }

          .registration-box-in-core-main-form-personal-content {
            /* background-color: darkkhaki; */
            display: flex;
            column-gap: 2vh;
            width: 100%;
          }
            .registration-box-in-core-main-form-personal-content-left {
              /* background-color: skyblue; */
              display: flex;
              flex-direction: column;
              row-gap: 3.2vh;
              width: 50%;
            }

              .registration-box-in-core-main-form-personal-content-left-alike {
                /* background-color: khaki; */
                display: flex;
                flex-direction: column;
                row-gap: 1.6vh;
              }

            .registration-box-in-core-main-form-personal-content-right {
              /* background-color: cornflowerblue; */
              display: flex;
              flex-direction: column;
              row-gap: 3.2vh;
              width: 50%;
            }
              .registration-box-in-core-main-form-personal-content-right-alike {
                /* background-color: cornflowerblue; */
                display: flex;
                flex-direction: column;
                row-gap: 1.6vh;
              }

                .registration-box-in-core-main-form-personal-content-left-alike label,
                .registration-box-in-core-main-form-personal-content-right-alike label {
                  color: var(--black-color);
                  font-size: var(--font-size-12);
                  font-weight: var(--font-weight-medium);
                }
                .registration-box-in-core-main-form-personal-content-left-alike select,
                .registration-box-in-core-main-form-personal-content-right-alike select {
                  width: 100%;
                  max-width: 100%;
                  padding: 0.6rem 1rem;
                  border-radius: 0.3rem;
                  border: 2px solid var(--primary-color-opacity-30);
                  background-color: var(--white-color) !important;
                  color: var(--black-color-opacity-60);
                  font-size: var(--font-size-12);
                  font-weight: var(--font-weight-medium);

                  cursor: pointer;
                  appearance: none !important;
                  -webkit-appearance: none !important;
                  -moz-appearance: none !important;

                  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
                  background-repeat: no-repeat;
                  background-position: right 0.7rem center;
                  background-size: 1rem;
                  box-sizing: border-box;
                }
                .registration-box-in-core-main-form-personal-content-left-alike input,
                .registration-box-in-core-main-form-personal-content-right-alike input {
                  width: 100%;
                  padding: 0.6rem 1rem;
                  border-radius: 0.3rem;
                  border: 2px solid var(--primary-color-opacity-30);
                  background-color: var(--white-color);
                  color: var(--black-color);
                  font-size: var(--font-size-12);
                  font-weight: var(--font-weight-medium);
                  cursor: text;
                  box-sizing: border-box;
                }

    .registration-box-in-core-submit {
      /* background-color: mediumseagreen; */
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
      .registration-box-in-core-submit button {
        all: unset;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        width: 30%;
        height: 6vh;
        padding: 0.6rem;
        border-radius: 500px;
        color: var(--white-color);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-16);
        cursor: pointer;
        transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
      }
