.homeUser-top-core-right { 
			/* background-color: darkslateblue; */
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 32%;
			background-color: var(--white-color);
			padding: 4vh;
			row-gap: 4vh;
			border-radius: 16px;
			box-shadow: 0px 0px 20px rgba(0, 136, 154, 0.10); 
		 } 
      .homeUser-top-core-right-header { 
				/* background-color: slateblue;  */
				display: flex;
				align-items: center;
				column-gap: 2vh;
				font-weight: var(--font-weight-medium);
        font-size: var(--font-size-12);
        color: var(--black-color);
			} 
      .homeUser-top-core-right-cards { 
				/* background-color: mediumslateblue;  */
				display: flex;
				flex-direction: column;
				row-gap: 2vh;
			} 

      .homeUser-top-core-right-cards-card {
            /* background-color: lightcoral; */
            display: flex;
            flex-direction: column;
            background-color: var(--secondary-color-opacity-60);
            width: 100%;
            row-gap: 2vh;
            padding: 1.5vh;
            border-radius: 8px;
            border: 2px solid var(--primary-color-opacity-15);
          }

            .homeUser-top-core-right-cards-card-up {
              /* background-color: salmon; */
              display: flex;
              flex-direction: row;
              align-items: center;
              column-gap: 1.5vh;
            }

              .homeUser-top-core-right-cards-card-up-text {
                /* background-color: lightsalmon; */
                display: flex;
                flex-direction: column;
                row-gap: 0.5vh;
              }
                .homeUser-top-core-right-cards-card-up-text-name {
                  font-weight: var(--font-weight-medium);
                  font-size: var(--font-size-12);
                  color: var(--black-color);
                  
                }
                .homeUser-top-core-right-cards-card-up-text-dept {
                  font-weight: var(--font-weight-light);
                  font-size: var(--font-size-8);
                  color: var(--black-color-opacity-60);
                  
                }

            .homeUser-top-core-right-cards-card-down {
              /* background-color: sienna; */
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            }

              .homeUser-top-core-right-cards-card-down-btn {
                /* background-color: peru; */
                all: unset;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: var(--white-color-opacity-45);
                column-gap: 2vh;
                padding: 0.5vh 1vh;
                border-radius: 4px;
                border: 2px solid var(--primary-color-opacity-15);
                font-weight: var(--font-weight-light);
                font-size: var(--font-size-12);
                color: var(--primary-color);
              }

              .homeUser-top-core-right-cards-card-down-text {
                /* background-color: burlywood; */
                display: flex;
                flex-direction: column;
                text-align: right;
              }

                .homeUser-top-core-right-cards-card-down-text-time {
                  /* background-color: sandybrown; */
                  font-weight: var(--font-weight-light);
                  font-size: var(--font-size-8);
                  color: var(--black-color);
                }

                .homeUser-top-core-right-cards-card-down-text-date {
                  /* background-color: tan; */
                  font-weight: var(--font-weight-semibold);
                  font-size: var(--font-size-12);
                  color: var(--black-color);
                }
        