.manageAppointment-box-in-left-core-bot-cards-card {
	/* background-color: mediumseagreen; */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	column-gap: 2.4vh;
	
}

	.manageAppointment-box-in-left-core-bot-cards-card-check {
		/* background-color: lightgreen; */
		display: flex;
		justify-content: center;
		align-items: center;
		height: 16vh;
		width: 12%;
	}


		.manageAppointment-box-in-left-core-bot-cards-card-check-box {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 4vh;
			height: 4vh;
			border: 2px solid var(--primary-color);
			border-radius: 0.3rem;
			background-color: var(--white-color);
			cursor: pointer;
		}
	
			.manageAppointment-box-in-left-core-bot-cards-card-check-box.checked {
				background-color: var(--primary-color);
			}
			
			.manageAppointment-box-in-left-core-bot-cards-card-check-box::after {
				content: '';
				width: 2vh;
				height: 0.8vh;
				border-left: 2px solid white;
				border-bottom: 2px solid white;
				transform: rotate(-45deg);
				opacity: 0;
				transition: opacity 0.2s ease;
			}
			
			.manageAppointment-box-in-left-core-bot-cards-card-check-box.checked::after {
				opacity: 1;
			}
			

	.manageAppointment-box-in-left-core-bot-cards-card-container {
		/* background-color: forestgreen; */
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: var(--white-color);
		height: 16vh;
		width: 88%;
		border-radius: 12px;
		/* !!! CHANGE ALL FROM 20PX TO 12PX */
		box-shadow: 0px 0px 20px rgba(0, 136, 154, 0.10); 
	}

		.manageAppointment-box-in-left-core-bot-cards-card-container-indicator {
			/* background-color: springgreen; */
			height: 100%;
			width: 2%;
			/* !!! CHANGE ALL FROM 1.8% TO 1.4% */
			background-color: var(--green-indicator-opacity-60);
			border-top-left-radius: 12px;
			border-bottom-left-radius: 12px;
		}

		.manageAppointment-box-in-left-core-bot-cards-card-container-profile {
			/* background-color: mediumspringgreen; */
			display: flex;
			flex-direction: row;
			justify-content: start;
			align-items: center;
			height: 100%;
			width: 64%;
			padding: 2vh;
			column-gap: 1vw;
		}

			.manageAppointment-box-in-left-core-bot-cards-card-container-profile-info {
				/* background-color: palegreen; */
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: start;
				row-gap: 1vh;
			}

				.manageAppointment-box-in-left-core-bot-cards-card-container-profile-info-text {
					/* background-color: lightgreen; */
					font-weight: var(--font-weight-regular);
					font-size: var(--font-size-16);
					color: var(--black-color)
				}

				.manageAppointment-box-in-left-core-bot-cards-card-container-profile-info-job {
					/* background-color: mintcream; */
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					background-color: var(--secondary-color-opacity-60);
					column-gap: 1.4vh;
					padding: 1vh 1.4vh;
					border-radius: 8px;
					border: 2px solid var(--primary-color-opacity-15);
				}

					.manageAppointment-box-in-left-core-bot-cards-card-container-profile-info-job p {
						font-weight: var(--font-weight-medium);
						font-size: var(--font-size-12);
						color: var(--black-color);
					}

		.manageAppointment-box-in-left-core-bot-cards-card-container-availability {
			/* background-color: darkolivegreen; */
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: end;
			width: 36%;
			height: 100%;
			/* padding-top: 0.8rem;
			padding-right: 0.8rem; */
			padding: 0.8rem;
		}

			.manageAppointment-box-in-left-core-bot-cards-card-container-availability-bg {
				/* background-color: yellowgreen; */
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: var(--green-indicator-opacity-15);
				column-gap: 1vh;
				padding: 1vh 1.6vh;
				border-radius: 500px;
			}

				.manageAppointment-box-in-left-core-bot-cards-card-container-availability-bg p {
					font-weight: var(--font-weight-medium);
					font-size: var(--font-size-12);
					color: var(--black-color);
				}

				/* states */
				.manageAppointment-box-in-left-core-bot-cards-card-container-availability-bg.available {
					background-color: var(--green-indicator-opacity-15);
				}

				.manageAppointment-box-in-left-core-bot-cards-card-container-availability-bg.booked {
					background-color: var(--blue-indicator-opacity-15); /* Or another color */
				}


			/* .manageAppointment-box-in-left-core-bot-cards-card-container-availability-booked {} */
				.manageAppointment-box-in-left-core-bot-cards-card-container-availability-booked-text {
					display: flex;
					flex-direction: column;
					align-items: end;
				}
					.manageAppointment-box-in-left-core-bot-cards-card-container-availability-booked-text-light {
						font-weight: var(--font-weight-light);
						font-size: var(--font-size-8);
						color: var(--black-color);
					}
					.manageAppointment-box-in-left-core-bot-cards-card-container-availability-booked-text-bold {
						font-weight: var(--font-weight-bold);
						font-size: var(--font-size-12);
						color: var(--black-color);
					}
						

	.manageAppointment-box-in-left-core-bot-cards-card-container-indicator.booked {
		background-color: var(--blue-indicator-opacity-60); 
	}










