* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.manageAppointment {
position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* High z-index to appear on top */
}

.manageAppointment-box {
  /* background-color: firebrick; */
background-color: white;
  border-radius: 1rem;
  width: 72vw;
  height: 76vh;
  overflow: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.manageAppointment-box-in {
  /* background-color: indianred; */
	background-color: var(--white-color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 1rem;
	column-gap: 1rem;
}

  .manageAppointment-box-in-left {
    /* background-color: darkblue; */
		display: flex;
		flex-direction: column;
		width: 68%;
		height: 100%;
		row-gap: 3rem;
  }

    .manageAppointment-box-in-left-header {
      /* background-color: mediumblue; */
			display: flex;
			align-items: center;
			column-gap: 1rem;
			padding-top: 1rem;
			color: var(--black-color);
			font-weight: var(--font-weight-medium);
			font-size: var(--font-size-20);
    }

    .manageAppointment-box-in-left-core {
      /* background-color: royalblue; */
			
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			row-gap: 1rem;
			padding: 1rem;
			background-color: var(--secondary-color);
			border-radius: 0.6rem;
			overflow: hidden;
    }

      .manageAppointment-box-in-left-core-top {
        /* background-color: cornflowerblue; */
				display: flex;
				justify-content: space-between;
				align-items: center;
      }

        .manageAppointment-box-in-left-core-top-tabs {
          /* background-color: lightsteelblue; */
					display: flex;
					flex-direction: row;
					justify-content: start;
					align-items: center;
					flex-grow: 1;
					column-gap: 0.5rem;
        }

          .manageAppointment-box-in-left-core-top-tabs-all {
            /* background-color: lightskyblue; */
						all: unset;
						display: flex;
						flex-direction: row;
						justify-content: start;
						align-items: center;
						background-color: var(--primary-color);
						color: var(--white-color);
						font-weight: var(--font-weight-regular);
						font-size: var(--font-size-16);
						border: 2px solid var(--primary-color-opacity-15);
						border-radius: 500px;
						column-gap: 0.6vw;
						padding: 1vh 2vh;
						cursor: pointer;
          }

          .manageAppointment-box-in-left-core-top-tabs-available {
            /* background-color: deepskyblue; */
						all: unset;
						display: flex;
						flex-direction: row;
						justify-content: start;
						align-items: center;
						background-color: var(--white-color);
						color: var(--green-indicator);
						font-weight: var(--font-weight-regular);
						font-size: var(--font-size-16);
						border: 2px solid var(--green-indicator-opacity-15);
						border-radius: 500px;
						column-gap: 0.6vw;
						padding: 1vh 2vh;
						cursor: pointer;
          }

          .manageAppointment-box-in-left-core-top-tabs-booked {
            /* background-color: dodgerblue; */
						all: unset;
						display: flex;
						flex-direction: row;
						justify-content: start;
						align-items: center;
						background-color: var(--white-color);
						color: var(--blue-indicator);
						font-weight: var(--font-weight-regular);
						font-size: var(--font-size-16);
						border: 2px solid var(--blue-indicator-opacity-15);
						border-radius: 500px;
						column-gap: 0.6vw;
						padding: 1vh 2vh;
						cursor: pointer;
          }

        .manageAppointment-box-in-left-core-top-search {
          /* background-color: navy; */
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					width: 28%;
					height: 100%;
					padding: 1vh 1vh;
					background-color: var(--white-color);
					border-radius: 0.4rem;
					box-shadow: 0px 0px 20px rgba(0, 136, 154, 0.10); 
        }

          .manageAppointment-box-in-left-core-top-search-left {
            /* background-color: slateblue; */
						display: flex;
						align-items: center;
						column-gap: 1vh;
						color: var(--primary-color);
						font-weight: var(--font-weight-light);
						font-size: var(--font-size-16);
          }

          .manageAppointment-box-in-left-core-top-search-right {
            /* background-color: mediumslateblue; */
						background-color: var(--primary-color);
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 1vh;
						border-radius: 0.2rem;
						cursor: pointer;
          }

      .manageAppointment-box-in-left-core-bot {
        /* background-color: darkgreen; */
				flex-grow: 1;
  			overflow-y: auto;
      }

				.manageAppointment-box-in-left-core-bot::-webkit-scrollbar {
					width: 1.4vh;
				}
				
				.manageAppointment-box-in-left-core-bot::-webkit-scrollbar-track {
					background: transparent;
				}
				
				.manageAppointment-box-in-left-core-bot::-webkit-scrollbar-thumb {
					background-color: var(--primary-color);
					border-radius: 500px;
					border: 2px solid transparent;
					background-clip: content-box;
				}
			
        .manageAppointment-box-in-left-core-bot-cards {
          /* background-color: seagreen; */
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					width: 100%;
					row-gap: 2.4vh;
					padding-right: 0.5rem;

        }

  .manageAppointment-box-in-right {
    /* background-color: darkorange; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 32%;
		height: 100%;
		padding: 1rem;
		row-gap: 6%;
		background-color: var(--secondary-color);
		border-radius: 0.6rem;
  }

    .manageAppointment-box-in-right-calendar {
      background-color: orange;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 36%;
			border-radius: 0.6rem;
    }

    .manageAppointment-box-in-right-dropdown {
      /* background-color: violet; */
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 20%;
			row-gap: 12%;
    }

      .manageAppointment-box-in-right-dropdown-date {
        
				all: unset;
				box-sizing: border-box;
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 44%;
				width: 100%;
				padding-left: 0.8rem;
				border: 2px solid var(--primary-color-opacity-15);
				border-radius: 0.4rem;
				background-color: var(--white-color);
				cursor: pointer;
      }

        .manageAppointment-box-in-right-dropdown-date-container {
          /* background-color: burlywood; */
					display: flex;
					align-items: center;
					height: 100%;
					column-gap: 0.8rem;
        }

          .manageAppointment-box-in-right-dropdown-date-container-text {
            /* background-color: wheat; */
						display: flex;
						flex-direction: column;
						justify-content: center;
						height: 100%;
						row-gap: 0rem;
          }

            .manageAppointment-box-in-right-dropdown-date-container-text-light {
              /* background-color: moccasin; */
							color: var(--black-color);
							font-weight: var(--font-weight-light);
							font-size: var(--font-size-8);
            }

            .manageAppointment-box-in-right-dropdown-date-container-text-semibold {
              /* background-color: cornsilk; */
							color: var(--black-color);
							font-weight: var(--font-weight-semibold);
							font-size: var(--font-size-12);
            }

      .manageAppointment-box-in-right-dropdown-time {
        /* background-color: goldenrod; */
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				height: 44%;
      }

        .manageAppointment-box-in-right-dropdown-time-start {
					all: unset;
					box-sizing: border-box;
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 48%;
					height: 100%;
					padding-left: 0.8rem;
					border: 2px solid var(--primary-color-opacity-15);
					border-radius: 0.4rem;
					background-color: var(--white-color);
					cursor: pointer;

        }

          .manageAppointment-box-in-right-dropdown-time-start-text {
            /* background-color: khaki; */
						display: flex;
						flex-direction: column;
						justify-content: center;
						height: 100%;
						row-gap: 0rem;
          }

            .manageAppointment-box-in-right-dropdown-time-start-text-light {
              /* background-color: lightgoldenrodyellow; */
							color: var(--black-color);
							font-weight: var(--font-weight-light);
							font-size: var(--font-size-8);
            }

            .manageAppointment-box-in-right-dropdown-time-start-text-semibold {
              /* background-color: lemonchiffon; */
							color: var(--black-color);
							font-weight: var(--font-weight-semibold);
							font-size: var(--font-size-12);
            }

        .manageAppointment-box-in-right-dropdown-time-end {
					all: unset;
					box-sizing: border-box;
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 48%;
					height: 100%;
					padding-left: 0.8rem;
					border: 2px solid var(--primary-color-opacity-15);
					border-radius: 0.4rem;
					background-color: var(--white-color);
					cursor: pointer;
        }

          .manageAppointment-box-in-right-dropdown-time-end-text {
            /* background-color: tan; */
						display: flex;
						flex-direction: column;
						justify-content: center;
						height: 100%;
						row-gap: 0rem;
          }

            .manageAppointment-box-in-right-dropdown-time-end-text-light {
              /* background-color: navajowhite; */
							color: var(--black-color);
							font-weight: var(--font-weight-light);
							font-size: var(--font-size-8);
            }

            .manageAppointment-box-in-right-dropdown-time-end-text-semibold {
              /* background-color: papayawhip; */
							color: var(--black-color);
							font-weight: var(--font-weight-semibold);
							font-size: var(--font-size-12);
            }

    .manageAppointment-box-in-right-buttons {
      /* background-color: teal; */
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 32%;
			row-gap: 8%;
			box-sizing: border-box;
			
    }

      .manageAppointment-box-in-right-buttons-reschedule {
        /* background-color: cadetblue; */
				all: unset;
				box-sizing: border-box;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 28%;
				padding: 0.6rem;
				background-color: var(--white-color);
				border-radius: 500px;
				border: 2px solid var(--primary-color-opacity-15);
				box-shadow: 0 0 12px rgba(0, 136, 154, 0.15);
				color: var(--primary-color);
				font-weight: var(--font-weight-medium);
				font-size: var(--font-size-16);
				cursor: pointer;
      }

      .manageAppointment-box-in-right-buttons-cancel {
        /* background-color: turquoise; */
				all: unset;
				box-sizing: border-box;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 28%;
				padding: 0.6rem;
				background-color: var(--white-color);
				border-radius: 500px;
				border: 2px solid var(--primary-color-opacity-15);
				box-shadow: 0 0 12px rgba(0, 136, 154, 0.15);
				color: var(--primary-color);
				font-weight: var(--font-weight-medium);
				font-size: var(--font-size-16);
				cursor: pointer;
      }

      .manageAppointment-box-in-right-buttons-book {
        /* background-color: mediumturquoise; */
				all: unset;
				box-sizing: border-box;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 28%;
				padding: 0.6rem;
				column-gap: 0.4rem;
				background-color: var(--primary-color);
				border-radius: 500px;
				border: 2px solid var(--white-color-opacity-15);
				box-shadow: 0 0 12px rgba(0, 136, 154, 0.15);
				color: var(--white-color);
				font-weight: var(--font-weight-medium);
				font-size: var(--font-size-16);
				cursor: pointer;
      }


	  