.certificate-cards-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    color: #333;
    font-family: 'Arial', sans-serif;
    gap: 10px;
	
}

.certificate-cards-card-indicator {
    width: 25px;
    height: 100%;
    background: #F99CA4; 
    border-radius: 8px 0 0 8px;
}

.certificate-cards-card-profile {
    display: flex;
    align-items: center;
    gap: 30px; 
}

.certificate-cards-card-profile-svg {
    width: 80px;
    height: 80px;
    background-color: #444;
    border-radius: 50%;
    flex-shrink: 0; 
}

.certificate-cards-card-profile-info {
    display: flex;
    flex-direction: column;
}

.certificate-cards-card-profile-info-job {
    display: flex;
    align-items: center;
    font-size: 14px;
    background: #f5f5f5;
    padding: 10px 10px;
    border-radius: 8px;
    color: #333;
    margin-top: 4px;
    gap: 10px;
}

/* Certificate section */
.certificate-cards-card-certificates {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 50px;
    padding: 0; 
    background-color: transparent;
    flex-wrap: nowrap; 
	margin-right: 300px;
}

.certificate-indicator-1 {
    width: 6px;
    height: 100%;
    background-color: var(--primary-color, #009688); 
    border-radius: 4px;
}

.certificate-indicator-2 {
    width: 6px;
    height: 100%;
    background-color: #4ef80b; 
    border-radius: 4px;
}

.certificate-indicator-3 {
    width: 6px;
    height: 100%;
    background-color: #FFCA28; 
    border-radius: 4px;
}

.certificate-cards-card-certificates-1,
.certificate-cards-card-certificates-2,
.certificate-cards-card-certificates-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 210px;
    height: 90px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
    position: relative;
    background-color: #fff;
    gap: 10px;
    
}

.certificate-cards-card-certificates-1-text,
.certificate-cards-card-certificates-2-text,
.certificate-cards-card-certificates-3-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    padding-top: 10px;
}

.certificate-cards-card-certificates-1-text-sub,
.certificate-cards-card-certificates-2-text-sub,
.certificate-cards-card-certificates-3-text-sub {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    color: #888;
    margin-bottom: 4px;
}

.certificate-cards-card-certificates-1-text-heading,
.certificate-cards-card-certificates-2-text-heading,
.certificate-cards-card-certificates-3-text-heading {
    font-size: 16px;
    font-weight: bold;
    margin-top: 4px;
    color: #333;
}

.certificate-cards-card-certificates-1-count-box {
    width: 50px;
    height: 50px;
    border: 1px solid #00899A;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px #00899A;
    margin: 0;
    position: relative;
    bottom: 50px;
    left: 110px;
}

.certificate-cards-card-certificates-1-count-text {
    font-size: 28px;
    font-weight: bold;
    color: #00899A;
    margin: 0;
}

.certificate-cards-card-certificates-2-count-box {
    width: 50px;
    height: 50px;
    border: 1px solid #4ef80b;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px #4ef80b;
    margin: 0;
    position: relative;
    bottom: 50px;
    left: 110px;
}

.certificate-cards-card-certificates-2-count-text {
    font-size: 28px;
    font-weight: bold;
    color: #4ef80b;
    margin: 0;
}

.certificate-cards-card-certificates-3-count-box {
    width: 50px;
    height: 50px;
    border: 1px solid #FFCA28;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px #FFCA28;
    margin: 0;
    position: relative;
    bottom: 65px;
    left: 110px;
}

.certificate-cards-card-certificates-3-count-text {
    font-size: 28px;
    font-weight: bold;
    color: #FFCA28;
    margin: 0;
}

/* Notification */
.certificate-cards-card-certificates-4 {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 0; 
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    width: auto;
    height: 90px; 
}

.certificate-cards-card-certificates-4-text-sub {
   text-align: left;
    font-size: 12px;
    font-weight: 400;
    color: #888;
}

.certificate-cards-card-certificates-4-text-heading {
    font-size: 16px;
    font-weight: 600;
    color:black;
}

.certificate-cards-card-certificates-1-button {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100px;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #00899A;  
    gap: 8px; 
}

.certificate-cards-card-certificates-1-button p {
    font-size: 16px;
    font-weight: 600;
    color: #00899A;
}

.certificate-cards-card-certificates-1-button-icon {
    width: 16px;
    height: 16px;
    background-size: contain;
}

.certificate-cards-card-certificates-5 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
    color: none;
}

.certificate-cards-card-certificates-4-svg {
    width: 40px;
    height: 40px;
    background-color: #00899A;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificate-cards-card-certificates-4-svg span {
    color: white;
    font-size: 20px;
    font-weight: bold;
}